<div class="mx-auto md:w-2/3 w-full">
  <h1 class="page-header">Editing feed</h1>

  <%= render "form", feed: @feed %>

  <div class="inline-block ml-2">
    <%= button_to 'Destroy', feed_path(@feed), method: :delete, class: "button danger inverted" %>
  </div>
  <%= link_to "View Feed", @feed, class: "ml-2 button link" %>
  <%= link_to "Back to Feeds", feeds_path, class: "ml-2 button link" %>
</div>
