<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="page-header">My Feeds</h1>
    <%= link_to 'New feed', new_feed_path, class: "button primary" %>
  </div>

  <div id="feeds" class="min-w-full">
    <%= render @feeds %>
  </div>
</div>
