<section class="grid max-w-screen-xl py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
  <div class="mr-auto place-self-center lg:col-span-7">
    <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
      Stay Groovy,<br>
      Stay Updated
    </h1>

    <p class="mb-6 font-light text-gray-700 w-full sm:w-3/4 md:w-[80%] lg:w-5/6 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
      From blogs to photos from outer space - RSS is everywhere. Just waiting
      to be tapped into.
    </p>

    <%= link_to user_signed_in? ? feeds_path : new_user_session_path, class: 'button primary large mb-2' do %>
      Get started
      <%= svg("arrow_right", class: "ml-2 -mr-1") %>
    <% end %>
  </div>
  <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
    <%= image_tag("home_hero.svg") %>
  </div>
</section>
