@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply inline-flex items-center justify-center px-3 py-2
          font-medium text-center rounded-lg focus:ring-4 border bg-gray-50
          text-gray-900 border-gray-300 hover:bg-gray-200 focus:ring-gray-200
          dark:text-white dark:border-gray-700 dark:hover:bg-gray-700
          dark:focus:ring-gray-800;
  }

  .button.large {
    @apply px-5 py-3;
  }

  .button.primary {
    @apply text-white bg-primary-700 hover:bg-primary-800
          border-primary-700 hover:border-primary-800
          focus:ring-primary-300 dark:focus:ring-primary-900;
  }

  .button.link {
    @apply text-primary-700 border-none focus:ring-primary-300
          dark:focus:ring-primary-900;
  }

  .button.link[aria-current='true']:not(:hover) {
    @apply text-primary-800;
  }

  .flash {
    @apply p-3 mb-3 shadow rounded-md mx-auto sm:w-3/4 lg:w-1/2;
  }

  .flash.warn, .flash.warning {
    @apply text-yellow-800 bg-yellow-50;
  }

  .flash.alert, .flash.error {
    @apply text-red-800 bg-red-100;
  }

  .flash.info, .flash.notice {
    @apply text-blue-900 bg-blue-100;
  }

  .flash.success {
    @apply text-green-900 bg-green-100;
  }
}
