@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply inline-flex items-center justify-center px-3 py-2
          font-medium text-center rounded-lg focus:ring-4 border
          text-gray-900 border-gray-300 hover:bg-gray-200 focus:ring-gray-200
          dark:text-white dark:border-gray-700 dark:hover:bg-gray-700
          dark:focus:ring-gray-800;
  }

  .button.large {
    @apply px-5 py-3;
  }

  .button.primary {
    @apply text-white bg-primary-700 hover:bg-primary-800
          focus:ring-primary-300 dark:focus:ring-primary-900;
  }

  .button.link {
    @apply text-primary-700 border-none focus:ring-primary-300
          dark:focus:ring-primary-900;
  }

  .button.link[aria-current='true']:not(:hover) {
    @apply text-primary-800;
  }
}
